main {
    font-family: 'Roboto', sans-serif!important;
    display: flex;
    justify-content: center;
    align-items : center;
    min-height: 100vh;
}

h1 {
    font-weight: 500!important;
}

h2 {
    font-weight: 300!important;
}

img {
    margin: 100px 0 0 0;
    max-width: 200px;
}
